<div ng-navbar></div>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    </ol>

    <div class="carousel-inner">
        <div class="item active">
            <img src="Resource/logo3.png" alt="First Slide" class="first-slide img-responsive">
            <div class="carousel-caption">
                <h3>Caption Text</h3>
            </div>
        </div>
    </div>

    <a class="carousel-control left" href="#myCarousel" role="button" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="carousel-control right" href="#myCarousel" role="button" data-slide="next">
        <span class="icon-next"></span>
    </a>
</div>

<div class="container">
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">¿QUIEN SOMOS?<span class="text-muted"></span></h2>
            <p class="lead">Hola! Somos el equipo SaavedraFlights y somos estudiantes de grado superior de DAM. Somos un grupo de "informáticos novatos" con ganas de demostrar al mundo lo que podemos hacer con imaginación y ganas de superarse día a día.
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive center-block" src="Resource/logo5.jpg" alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
            <h2 class="featurette-heading">¿POR QUÉ LO HEMOS HECHO?. <span class="text-muted"></span></h2>
            <p class="lead">
                ¿Y porqué no? Nadie dijo que fuera fácil...Pero lo realmente importante no es el porqué, sino el propósito de nuestro proyecto.
                Demostrar que no existen fronteras, sino que nosotros mismos podemos ser el trampolín para acercarnos a nuestra meta.Empezar es difícil...Pero
                merece la pena intentarlo.
            </p>
        </div>
        <div class="col-md-5 col-md-pull-7">
            <img class="featurette-image img-responsive center-block" src="Resource/logo1.jpg" alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">IDEA<span class="text-muted"></span></h2>
            <p class="lead">
                Nuestro propósito de proyecto es crear una app intuitiva y accesible, para poder consultar rápidamente los posibles cambios meteorológicos
                de todos los aeropuertos, a escala internacional. Un punto a tener en cuenta es la posibilidad de crear usuarios y loguearse para poder acceder a las futuras funcionalidades
                tales como: consultar tus aeropuertos favoritos, poder avisar a través de notificaciones los posibles cambios estacionales y poder ofrecer un apartado sobre
                incidencias metereólogicas anteriores de la zona.
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive center-block" src="Resource/Bombilla.jpg" alt="Generic placeholder image">
        </div>
    </div>
    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
            <h2 class="featurette-heading">DE CARA AL FUTURO <span class="text-muted"></span></h2>
            <p class="lead">
                Hemos realizado este proyecto para facilitar a la gente información actualizada de calidad acerca de todos los aeropuertos del mundo.
                Lo principal de este proyecto es: accesibilidad y mirar hacia atras, para informar a los usuarios de los antecedentes meteorológicos a tiempo real, proporcionados por la NASA.     
            </p>
        </div>
        <div class="col-md-5 col-md-pull-7">
            <img class="featurette-image img-responsive center-block" src="Resource/logo2.jpg" alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">

    <footer>
        <p>&copy; 2016 Saavedra Flights Inc. &middot; <a href="#/">Privacy</a> &middot; <a href="#/">Terms</a></p>
    </footer>
</div>