<div class="navbar-wrapper">
    <div class="container">

        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#/">Saavedra Flights</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li ng-class="{'active': actived == 'home'}"><a href="#/">Home</a></li>
                        <li ng-if="connected == 'true'" ng-class="{'active': actived == 'airports'}"><a href="#/airports">Airports</a></li>
                    </ul>
                    <form class="navbar-form navbar-right" role="search">
                        <button ng-if="connected == 'false'" type="submit" class="btn btn-primary" ng-click="login()">Login</button>
                        <button ng-if="connected == 'false'" type="submit" class="btn btn-default" ng-click="register()">Register</button>
                        <button ng-if="connected == 'true'" type="submit" class="btn btn-primary" ng-click="logoff()">Log off</button>
                    </form>
                </div>
            </div>
        </nav>

    </div>
</div>